{% extends 'base/base.html' %}

{% block content %}
<h1>Детали бага {{ bug.id }}</h1>
<h2>Информация о баге</h2>
<h3>Название</h3>
<p>{{ bug.title }}</p>
<h3>Описание</h3>
<p>{{ bug.description }}</p>
<h3>Статус</h3>
<p>{{ bug.status }}</p>
<h3>Приоритет</h3>
<p>{{ bug.priority }}</p>
<h2>Информация о связанном проекте</h2>
<h3>Название проекта</h3>
<p>{{ bug.project.name }}</p>
<h3>Описание проекта</h3>
<p>{{ bug.project.description }}</p>
<h2>Информация о связанной задаче</h2>
        {% if bug.task is not None %}
            <h3>Название задачи</h3>
            <p>{{ bug.task.name }}</p>
            <h3>Описание задачи</h3>
            <p>{{ bug.task.description }}</p>
        {% else %}
            <p>Нет связанной задачи</p>
        {% endif %}
{% endblock %}